body{
    position: relative; 
}

#section1 {padding-top:500px;height:500px;color: #black; background-color: #white;}
#section2 {padding-top:200px;height:150px;color: #black; background-color: #white;}
#section3 {padding-top:300px;height:200px;color: #black; background-color: #white;}
#section41 {padding-top:200px;height:150px;color: #black; background-color:#white;}
#section42 {padding-top:500px;height:500px;color: #black; background-color:#white;}


.mainSobre{
	text-align: center;
}

.bemVindo{
  color: blue;
}

/*estilo do footer*/

.mainfooter{
  margin-top:80px;
}

footer{
  color: white;
}
footer a{
  color: #bfffff;
}
footer a:hover{
  color: white;
}

.footer-bottom{
  background: #3d6277;
  padding: 2em;
}
.footer-top{
  background: #2d4958;  
}
.footer-middle{
   background: #3d6277;
  padding-top: 2em;
  color: white;
}
/**Sub Navigation**/
.subnavigation-container{
  background: #3d6277;
}
.subnavigation .nav-link{
  color: white;
  font-weight: bold;
}
.subnavigation-container{
  text-align: center;
}
.subnavigation-container .navbar{
  display: inline-block;
  margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}
.col-subnav .active{
  border-top:5px solid orange;
 background: white;
  color: black;
}
.p-b-1{
  text-align: center;
}

.text{
  font-size: 20px;
  text-align: justify;
}

.titulo{
  text-align: center;
  font-size: 30px;
}

.titulo-h4{
  text-align: center;
  font-size: 17px;
}

.text-index{
  text-align: justify;
  font-size: 15px;
}

.jumbotron{
  background:#3d6277;
  height: 150px;
  padding-top: 1px;

 }

 #logo{
  color:white;
  font-size: 40px;
 }

#tamanho{
  color:white;
  font-size: 20px;
}

.btn{
  background: #2d4958;
  color: white;

}